nav.navbar.fixed-top.navbar-expand-lg.main-nav
  .container.justify-content-center
    ul.nav.navbar-nav.flex-fill.navbar-brand.justify-content-center
      a.nav-link(href='/')
        i.fas.fa-leaf
        | AgriScan
