extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Learn More
    hr
    .row
      .col-md-6
        h2 Stuff!
        p Click here to learn more and view our data sets.
        p
          a.btn.btn-raised(href='#', role='button') View datasets »
