extends layout

block content
  h1 AgriScan
  p.lead Plant-based Deep Learning Disease Detector Web App
  hr
  .row
    .col-md-6
      h2 Learn More
      p Check out how AgriScan actually works, and how you can help save the agriculture industry of Pakistan.
      p
        a.btn.btn-raised(href='#', role='button') View Datasets »
